framework: net452

source https://www.nuget.org/api/v2
nuget FAKE
nuget FParsec 1.0.3 
nuget FSharp.Compiler.Service
nuget FSharp.Core 4.0.0.1 
nuget FSharp.Configuration 1.3.0
nuget FSharp.Data 2.3.3
nuget FSharp.TypeProviders.StarterPack
nuget SharpYaml 1.6.1 